<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-device" version="0.2.3">
    <name>Device</name>
    <description>Cordova Device Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>
    <js-module src="www/device.js" name="device">
        <clobbers target="device"></clobbers>
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="EstimoteCordova">
                <param name="ios-package" value="EstimoteCordova"/>
            </feature>
        </config-file>
        <header-file src="src/ios/EstimoteCordova.h"/>
        <source-file src="src/ios/EstimoteCordova.m"/>
    </platform>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="EstimoteCordova">
                <param name="android-package" value="au.com.ideacraft.cordova.estimote-cordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
    </platform>
</plugin>
