<?xml version='1.0' encoding='utf-8'?>
<plugin id="au.com.ideacraft.cordova.estimote-cordova" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>estimote</name>
    <js-module name="estimote" src="www/estimote.js">
        <clobbers target="cordova.plugins.estimote"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="estimote">
                <param name="android-package" value="au.com.ideacraft.cordova.estimote-cordova.estimote"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/estimote.java"
                     target-dir="src/au/com/ideacraft/cordova/estimote-cordova/estimote"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="estimote">
                <param name="ios-package" value="estimote"/>
            </feature>
        </config-file>
        <source-file src="src/ios/estimote.m"/>
    </platform>
</plugin>
